<template>
  <div class="bg-white rounded-3xl p-10 pb-20 mt-20 transport-view">
    <div class="rental-summary">
      <RentalSummary class="pb-20 mx-10 w-1/1" />
    </div>

    <div class="trip-details bg-white rounded-3xl p-10 mx-20 shadow-lg">
      <TripDetails />
    </div>
  </div>
</template>

<script setup lang="ts">
import RentalSummary from '@/components/RentalSummary.vue'
import TripDetails from '@/components/TripDetails.vue'
</script>

<style lang="scss" scoped>
.transport-view {
  padding-top: 100px;
  position: relative;
}

.rental-summary {
  position: absolute;
  top: -75px;
  width: 100%;
  left: 0;
}

.trip-details {
  position: relative;
}
</style>
