<template>
  <button
    class="bg-blue-900 hover:bg-blue-700 py-2 px-4 rounded-full font-bold"
    :class="{ sm: props.size === 'sm' }"
  >
    <slot />
  </button>
</template>

<script setup lang="ts">
const props = defineProps<{ size?: 'sm' }>()
</script>

<style lang="scss">
.sm {
  height: 30px;
  width: 30px;
  padding: 0;
  min-width: 30px;
}
</style>
