<template>
  <div class="lg:flex lg:flex-row">
    <div class="lg:basis-1/2 lg:pr-8">
      <div>
        <b class="text-xs text-blue-500"> Active </b>
      </div>

      <div>
        <b class="text-lg"> Chauffeur </b>
      </div>

      <div class="my-2">
        <img
          class="w-full aspect-square rounded-xl"
          src="../assets/profile.png"
          alt="Driver photo"
        />
      </div>

      <div>
        <b> Adam Lopoto </b>
      </div>

      <div class="mt-2">
        <fa icon="fa-solid fa-star" class="text-yellow-400" />
        <b> 4.8 </b>
      </div>
    </div>

    <div class="border" />

    <div class="lg:basis-1/2 lg:px-8">
      <div>
        <span class="fi fi-fi rounded-sm" />
        <span class="fi fi-fr rounded-sm mx-2" />
        <span class="fi fi-de rounded-sm" />
      </div>

      <div class="text-sm text-gray-500 font-bold mt-4">Name of carrier</div>

      <div class="font-bold">Bambam SIA</div>

      <div class="text-sm text-gray-500 font-bold mt-4">National reg.nb.</div>

      <div class="font-bold">"Miranda"</div>

      <div class="mt-3">
        <Button class="bg-blue-400 rounded-md text-white">
          <fa icon="fa-solid fa-phone" />
        </Button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Button from './Button.vue'
</script>
