<template>
  <footer>
    <nav class="lg:flex items-center p-6 lg:px-8" aria-label="Global">
      <div>
        <NavLink title="Log in" url="/login" />
      </div>

      <div>
        <NavLink title="Sign up" url="/signup" />
      </div>

      <div>
        <NavLink title="Partners" url="/partners" />
      </div>

      <div>
        <NavLink title="About" url="/about" />
      </div>

      <div class="mr-auto">
        <NavLink title="FAQ" url="/faq" />
      </div>

      <Logo class="text-black" />

      <div class="ml-auto">
        <NavLink title="Terms Of service" url="/tos" />
      </div>

      <div>
        <NavLink title="Privacy Policy" url="/privacy" />
      </div>

      <div>
        <NavLink title="Cookies" url="/cookies" />
      </div>
    </nav>
  </footer>
</template>

<script setup lang="ts">
import Logo from './Logo.vue'
import NavLink from './NavLink.vue'
</script>
