<template>
  <header>
    <nav class="flex items-center p-6 lg:px-8" aria-label="Global">
      <div class="flex items-center lg:flex-1">
        <Logo />

        <div class="ml-8 text-gray-500 flex items-center text-sm font-semibold">
          EUR
          <fa-stack class="fa-stack fa-xs ml-2 mr-4">
            <fa icon="fa-solid fa-arrows-rotate" class="fa-stack-2x" />
            <fa icon="fa-solid fa-dollar-sign" class="fa-stack-1x" />
          </fa-stack>

          English
          <fa icon="fa-solid fa-globe" class="ml-2" />
        </div>
      </div>

      <div class="flex lg:hidden">
        <button
          type="button"
          @click="() => (menuOpen = !menuOpen)"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>

      <div class="hidden lg:flex lg:justify-end inline-flex items-center font-semibold">
        <NavLink
          v-for="menuItem in menuItems"
          :key="menuItem.url"
          :url="menuItem.url"
          :title="menuItem.title"
          class="mx-2"
        />

        <Button class="mx-2 bg-blue-950 text-white"> Book Today </Button>

        <a href="#">Log in / Sigh up</a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div v-if="menuOpen" class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-white">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Features</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Marketplace</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Company</a
              >
            </div>
            <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Log in / Sigh up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import Button from './Button.vue'
import Logo from './Logo.vue'
import NavLink from './NavLink.vue'
import { ref } from 'vue'

const menuOpen = ref<boolean>(false)

const menuItems = [
  {
    title: 'Transport',
    url: '/'
  },
  {
    title: 'Tours',
    url: '/tours'
  },
  {
    title: 'Partners',
    url: '/partners'
  },
  {
    title: 'About B2B',
    url: '/about-b2b'
  },
  {
    title: 'Contact',
    url: '/contact'
  }
]
</script>
