<template>
  <RouterLink
    to="/"
    class="logo tracking-tighter font-extrabold text-indigo-900 text-4xl leading-snug"
  >
    Dispo
  </RouterLink>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router'
</script>

<style lang="scss">
.logo {
}
</style>
