<template>
  <div ref="mapRef" class="map" />
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import L from 'leaflet'
import 'leaflet/dist/leaflet.css'

const mapRef = ref<HTMLElement>()

onMounted(async () => {
  var map = L.map(mapRef.value).setView([56.9500670681137, 24.104960832057674], 13)

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map)

  L.marker([56.950979841370376, 24.100798043778333]).addTo(map)
  L.marker([56.95162579993981, 24.11347107714748]).addTo(map)
  L.marker([56.94490563818051, 24.10937902712298]).addTo(map)
})
</script>

<style lang="scss">
.map {
  height: 300px;
}
</style>
