<template>
  <RouterLink
    :to="props.url"
    class="mx-2 font-semibold"
    :class="{ 'text-blue-500': $route.path === props.url }"
  >
    {{ props.title }}
  </RouterLink>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router'

const props = defineProps<{ title: string; url: string }>()
</script>
