<template>
  <div
    class="rental-summary-component rounded-3xl px-4 py-10 bg-gradient-to-br from-blue-950 to-gray-900 text-white overflow-hidden"
  >
    <div class="flex justify-center text-3xl font-bold my-3">Your daily rental details</div>

    <div class="flex justify-center items-center">
      <span class="mr-3">
        <fa-stack class="fa-stack fa-2xs mr-2">
          <fa icon="fa-solid fa-shield" class="fa-stack-2x" />
          <fa icon="fa-solid fa-check" class="fa-stack-1x text-indigo-900" />
        </fa-stack>
        Request #779
      </span>

      <span class="mx-3">
        <fa icon="fa-regular fa-calendar-minus" class="mr-2" />
        Trip Starts: 18 feb - 11:00
      </span>

      <span class="mx-3">
        <fa icon="fa-regular fa-user" class="mr-2" />
        45 people
      </span>

      <span class="rounded-full border px-4 py-1 mx-3">
        paid 12€
        <fa icon="fa-solid fa-check" class="ml-2" />
      </span>

      <a class="underline ml-3" href="javascript:void(0);"> view invoice </a>
    </div>

    <div class="flex justify-center items-center text-gray-300">
      <fa icon="fa-regular fa-copy" class="mr-2" />

      copy your unique trip link
    </div>

    <div class="circle circle-big">
      <div class="circle circle-small" />
    </div>
  </div>
</template>

<style lang="scss">
.circle {
  border-radius: 100%;
  border: solid white 2px;
  position: absolute;
  $big-size: 350px;
  $small-size: 40px;

  &-big {
    height: $big-size;
    width: $big-size;
    right: -$big-size / 2;
    bottom: -$big-size / 2;
  }

  &-small {
    height: $small-size;
    width: $small-size;
    left: ($big-size - $small-size) / 2 - ($big-size / 2 * sin(pi * 0.25));
    top: ($big-size - $small-size) / 2 - ($big-size / 2 * cos(pi * 0.25));
  }
}
</style>

<style lang="scss" scoped>
.rental-summary-component {
  position: relative;
}
</style>
