<template>
  <div class="text-sm">
    <div v-for="step in steps" :key="step.title" class="my-1">
      <fa-stack class="fa-stack fa-2xs mr-2" :class="step.done ? 'text-blue-500' : 'text-gray-500'">
        <fa icon="fa-solid fa-circle" class="fa-stack-2x" />
        <fa icon="fa-solid fa-check" class="fa-stack-1x text-white" />
      </fa-stack>

      <span :class="{ 'text-gray-500': !step.done }">
        <span class="font-bold">{{ step.title }}</span>

        <span v-if="step.done">-</span>
      </span>

      <span v-if="step.done" class="text-gray-400">
        {{ step.done }}
      </span>
    </div>
  </div>
</template>

<script setup lang="ts">
const steps = [
  {
    title: 'Waiting for chauffeur',
    done: '14.06.2022 at 12:32'
  },
  {
    title: 'Chauffeur assigned',
    done: '14.06.2022 at 12:32'
  },
  {
    title: 'Started',
    done: '14.06.2022 at 12:32'
  },
  {
    title: 'Trip in progress',
    done: null
  },
  {
    title: 'Finished',
    done: null
  }
]
</script>
