<template>
  <div>
    <div class="flex justify-center">
      <Button class="text-white bg-gray-900 mr-2">Trip Details</Button>
      <Button class="border bg-white">Return trip Details</Button>
    </div>

    <div class="my-8 border-t"></div>

    <div>
      <div class="flex items-center">
        <Button class="bg-gray-300 text-gray-950 mr-1" size="sm">
          <fa icon="fa-solid fa-arrow-left" />
        </Button>

        <div class="overflow-x-scroll whitespace-nowrap text-xs">
          <Button
            v-for="num in 5"
            :key="num"
            class="mx-1 py-3 px-8"
            :class="num == 1 ? 'bg-blue-400 text-white' : 'border bg-white'"
          >
            {{ num + 5 }} November
          </Button>
        </div>

        <Button class="bg-gray-300 text-gray-950 ml-1" size="sm">
          <fa icon="fa-solid fa-arrow-right text-gray-950" />
        </Button>
      </div>
    </div>

    <div class="text-xs font-bold">
      <div
        v-for="(historyItem, idx) in historyItems"
        :key="historyItem.id"
        class="lg:flex lg:flex-row my-3"
      >
        <div class="history-list-item" v-if="idx + 1 != historyItems.length">
          <span class="history-list-border border-black border" />
        </div>

        <div class="lg:basis-3/5 lg:w-3/5 overflow-hidden whitespace-nowrap ellipsis">
          <fa icon="fa-solid fa-location-dot text-md" class="mr-2" />

          {{ historyItem.location }}

          <span class="text-gray-500">
            {{ historyItem.address }}
          </span>
        </div>

        <div class="lg:basis-1/5 lg:w-1/5 flex">
          <span v-if="historyItem.arrive">
            <fa icon="fa-regular fa-clock" class="mr-2" />
            Arrive: {{ historyItem.arrive }}
          </span>
        </div>

        <div class="lg:basis-1/5 lg:w-1/5 flex">
          <fa icon="fa-regular fa-clock" class="mr-2" />
          Depart: {{ historyItem.depart }}
        </div>
      </div>
    </div>

    <div>
      <Map class="rounded-xl" />
    </div>
  </div>
</template>

<script setup lang="ts">
import Button from './Button.vue'
import Map from './Map.vue'

const historyItems = [
  {
    id: 1,
    location: 'Riga international airport',
    address: 'P133, Mārupe, LV-1005, Latvia',
    arrive: null,
    depart: '16:45'
  },
  {
    id: 2,
    location: 'Lithuania airport',
    address: 'Road name, LT223, Lithuania',
    arrive: '17:20',
    depart: '19:45'
  },
  {
    id: 3,
    location: 'Lithuania airport',
    address: 'Road name, LT223, Lithuania',
    arrive: '20:20',
    depart: '21:45'
  }
]
</script>

<style lang="scss" scoped>
.history-list-item {
  position: relative;
}

.history-list-border {
  height: 115%;
  position: absolute;
  top: 1em;
  left: 3px;
}
</style>
