<template>
  <div class="lg:flex lg:flex-row">
    <div class="lg:basis-2/5 flex-shrink-0">
      <DriverInfo />
      <TripProgress class="mt-8" />
    </div>

    <TripHistory class="lg:basis-3/5 lg:w-3/5 flex-grow-0" />
  </div>
</template>

<script setup lang="ts">
import DriverInfo from './DriverInfo.vue'
import TripProgress from './TripProgress.vue'
import TripHistory from './TripHistory.vue'
</script>
