<template>
  <section class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Global">
    <Header />

    <RouterView />

    <Footer />
  </section>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
</script>
